################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Healthy/.vs/Healthy/FileContentIndex
